<configuration>
	<packageSources>
		<clear />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
		<add key="BiDiB-Library" value="https://probtm.pkgs.visualstudio.com/BiDiB-Library/_packaging/BiDiB-Library/nuget/v3/index.json" />
	</packageSources>
</configuration>